@mixin buttonPattern($padding:5px, $width:100px, $bgcColor:$secondaryColor, $color:$textOnSecondaryColor, $borderColor:$primaryColor, ) {
    width: $width;
    background-color: $bgcColor;
    color: $color;
    padding: $padding;
    border-radius: 15px;
    border: 1px solid $borderColor;
    text-transform: uppercase;
    transition: .2s;

    &:hover {
        cursor: pointer;
        background-color: $primaryColor;
        color: $textOnPrimaryColor;
    }

    &:disabled {
        background-color: grey;
    }
}

@mixin inputs() {

    input,
    select {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }
}