@import './animations';

@mixin buttonPattern($font:15px, $padding:8px 17px, $width:auto, $bgcColor:$secondaryColor, $color:$textOnSecondaryColor, $borderColor:$primaryColor, ) {
    box-shadow: inset 0px 1px 0px 0px #97c4fe;
    background: linear-gradient(to bottom, #3d94f6 5%, #1e62d0 100%);
    background-color: #3d94f6;
    border-radius: 6px;
    border: 1px solid #337fed;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: $font;
    font-weight: bold;
    padding: $padding;
    text-decoration: none;
    text-shadow: 0px 1px 0px #1570cd;
    display: flex;
    justify-content: center;
    align-items: center;
    width: $width;

    &:hover {
        background-color: #1e62d0;

        .myButton {
            box-shadow: inset 0px 1px 0px 0px #97c4fe;
            background: linear-gradient(to bottom, #3d94f6 5%, #1e62d0 100%);
            background-color: #3d94f6;
            border-radius: 6px;
            border: 1px solid #337fed;
            display: inline-block;
            cursor: pointer;
            color: #ffffff;
            font-family: Arial;
            font-size: 15px;
            font-weight: bold;
            padding: 6px 24px;
            text-decoration: none;
            text-shadow: 0px 1px 0px #1570cd;
            transition: .3s;
        }

        &:hover {
            background: linear-gradient(to bottom, #1e62d0 5%, #3d94f6 100%);
            background-color: #1e62d0;
        }

        &:active {
            position: relative;
            top: 1px;
        }

    }

    &:disabled {
        background-color: grey;
    }
}

@mixin inputs() {

    input,
    select {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }
}

@mixin loader($thickness:18px, $size:120px) {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: $thickness solid #f3f3f3;
    border-top: $thickness solid #3498db;
    border-radius: 50%;
    width: $size;
    height: $size;
    animation: spinLoader 2s linear infinite;
    z-index: 998;
}

@mixin errorMessage {
    .errorMessage {
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        background-color: rgba(50, 50, 50, .5);

        p {
            position: relative;
            background-color: white;
            font-size: 25px;
            padding: 40px;
            border-radius: 10px;
            border: 1px solid $textOnPrimaryColor;

            button {
                position: absolute;
                border-radius: 50%;
                border: none;
                background-color: $secondaryColor;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 30px;
                height: 30px;
                top: 3px;
                right: 3px;
                transition: .2s;

                &:hover {
                    cursor: pointer;
                    background-color: $primaryColor;
                }
            }
        }
    }
}