@import "../_colors.scss";
@import "../_mixins.scss";
@import "../_normalize.scss";
@import "../_variable.scss";

#root {
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0px auto;
    width: 100%;
    max-width: 1600px;

    header {
        background-image: url("../img/icons/mix.png");
        background-position: center;
        background-repeat: no-repeat;
        display: flex;
        justify-content: left;
        align-items: center;
        margin-bottom: 50px;

        .logo {
            height: 100px;
            margin-left: 20px;
        }
    }

    .registrationContainer {
        width: 50%;
        margin: 40px auto;
        padding: 15px;
        border: 3px solid $primaryColor;

        h1 {
            text-align: center;
            box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.75);
            padding: 20px;
            margin-bottom: 20px;

        }

        .registration {
            &>* {
                margin: 5px;
            }

            div {

                input,
                label {
                    width: 100%;
                    margin: 7px;
                }
            }

            .btnSubmit {
                display: flex;
                justify-content: flex-end;

                button {
                    @include buttonPattern(5px, 150px);

                }
            }

        }

    }
}