@import "../_colors.scss";
@import "../_mixins.scss";
@include errorMessage;

#root {
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0px auto;
    width: 100%;

    .banner {
        width: 100%;

        img {
            display: block;
            width: 100%;
        }

    }

    .registrationContainer {
        width: 75%;
        margin: 40px auto;
        padding: 15px;
        border: 3px solid $primaryColor;

        h1 {
            text-align: center;
            box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.75);
            padding: 20px;
            margin-bottom: 20px;

        }

        .registration {
            margin: 2%;

            div {
                label {
                    width: 100%;
                    margin: 7px;
                }

                @include inputs()
            }

            .btnSubmit {
                display: flex;
                justify-content: flex-end;

                button {
                    @include buttonPattern;

                }
            }

        }

    }

    .loader {
        @include loader
    }
}