@import "_mixins.scss";
@import "colors.scss";
@import "_normalize.scss";
@import "_variable.scss";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#root {
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0px auto;
    width: 100%;
    max-width: 1600px;

    header {
        background-image: url("../img/icons/mix.png");
        background-position: center;
        background-repeat: no-repeat;
        display: flex;
        justify-content: left;
        align-items: center;
        margin-bottom: 50px;

        .logo {
            height: 100px;
            margin-left: 20px;
        }
    }

    .logingContainer {
        width: 60%;
        margin: 40px auto;
        padding: 15px;
        border: 3px solid $primaryColor;

        h1 {
            margin: 10px;
            text-align: center;
        }

        form {
            &>* {
                margin: 5px;
            }

            button {
                @include buttonPattern;
            }
        }

        .registration {
            margin: 15px;
            font-size: 12px;
            text-align: end;

            a {
                font-size: 10px;
            }
        }
    }
}