@import "../_mixins.scss";
@import "../colors.scss";
@import "../_normalize.scss";
@import "../_variable.scss";

body {
    font-family: 'roboto';
}

header {
    background-color: $primaryColor;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    * {
        margin: 0 30px;
    }

    a {
        color: $textOnPrimaryColor;
        position: relative;

        img {
            height: 50px;
            padding: 0;
        }
    }

    h1 {
        color: $textOnPrimaryColor;
    }

}

main {
    .addItemContainer {
        padding: 10px;
        display: none;

        &.show {
            display: block;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
            background-color: rgba(200, 200, 200, .8);
        }
    }

    .formAddItem {
        display: flex;
        flex-direction: column;
        background-color: #F5FFFA;
        position: fixed;
        width: 50%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        box-shadow: 4px 4px 4px $primaryColor;
        border-radius: 25px;

        #addItemTags {
            border-bottom: 1px solid black;
        }

        * {
            margin: 5px;
        }

        h2 {
            margin: 5%;
            font-size: 20px;
        }

        button {
            @include buttonPattern;
            align-self: flex-end;
        }

        .close {
            position: absolute;
            top: 5px;
            right: 5px;
            padding: 0;
            margin: 0;
            width: 30px;
            font-size: 30px;
            border: none;
        }
    }

    .handleProducts {
        display: flex;
        margin: 20px;
        align-items: center;
        justify-content: flex-end;
        margin-right: 100px;

        #formGetItem {
            margin: 20px;
            display: flex;

            button {
                background-color: transparent;
                border: 0;
                cursor: pointer;
                background-color: $primaryColor;
                padding: 10px;

                i {
                    color: $secondaryColor;
                    font-size: 20px;
                }
            }

            input[type=number] {
                width: 220px;

            }

            input[type=number]::-webkit-inner-spin-button,
            input[type=number]::-webkit-outer-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }
        }

        #showPanelNewItem {
            margin: 20px;
            @include buttonPattern;
        }
    }

    h2 {
        text-align: center;
        margin: 20px;
    }

    section {
        margin: 10px 20px;

        h2 {
            text-transform: uppercase;
            font-size: 20px;
            padding: 10px;
            border-bottom: 2px solid $primaryColor;
        }

        #productsContainer {
            table {
                margin: 5px auto;

                * {
                    margin: 5px;
                    padding: 5px;
                }

                .imageCell {
                    img {
                        height: 50px;
                    }
                }

                input {
                    font-size: 14px;
                }

                button {
                    @include buttonPattern;
                }
            }
        }
    }
}