html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

* {
  box-sizing: border-box; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

#root {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0px auto;
  width: 100%;
  max-width: 1600px; }
  #root header {
    background-image: url("../img/icons/mix.png");
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-bottom: 50px; }
    #root header .logo {
      height: 100px;
      margin-left: 20px; }
  #root .logingContainer {
    width: 60%;
    margin: 40px auto;
    padding: 15px;
    border: 3px solid #8e24aa; }
    #root .logingContainer h1 {
      margin: 10px;
      text-align: center; }
    #root .logingContainer form > * {
      margin: 5px; }
    #root .logingContainer form button {
      width: 100px;
      background-color: #76ff03;
      color: #111010;
      padding: 5px;
      border-radius: 15px;
      border: 2px solid #8e24aa;
      text-transform: uppercase;
      transition: .2s; }
      #root .logingContainer form button:hover {
        cursor: pointer;
        background-color: #8e24aa;
        color: #f5f5f5; }
      #root .logingContainer form button:disabled {
        background-color: grey; }
    #root .logingContainer .registration {
      margin: 15px;
      font-size: 12px;
      text-align: end; }
      #root .logingContainer .registration a {
        font-size: 10px; }
