@import "../_mixins.scss";
@import "../colors.scss";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#root {
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0px auto;
    width: 100%;
    max-width: 1600px;

    .banner {
        img {
            width: 100%;
        }
    }

    .logingContainer {
        width: 60%;
        margin: 40px auto;
        padding: 15px;
        border: 3px solid $primaryColor;

        h1 {
            margin: 10px;
            text-align: center;
        }

        .loginForm {
            display: flex;
            flex-direction: column;
            align-items: center;

            div {
                @include inputs;
            }

            button {
                @include buttonPattern;

                align-self: flex-end;
                margin-right: 5%;
            }

        }

        .registration {
            margin: 15px;
            font-size: 12px;
            text-align: end;

            a {
                font-size: 10px;
            }
        }
    }
}